.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: var(--color-surface);
  align-items: center;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .header {
    padding: 0 20px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 0 30px;
  }
}

.logo {
  height: 40px;
  width: auto;
  object-fit: contain;
}
